@charset "UTF-8";
/*Desafio WordPress Webedia - CSS*/
/*Fontes do projeto*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/*Vari├íveis*/
/*Vari├íveis*/
/*Reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, ul, li, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline; }

article, aside, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  color: #FE6B1E;
  font-size: 40px;
  font-weight: 700; }

p {
  line-height: 1.5; }

/*Reset*/
/*Topo*/
.bg_color_desafio {
  background-color: #F0F0F0;
  padding: 30px 0;
  font-family: "Roboto", sans-serif; }

.bg_color_menu .topo_desafio {
  padding: 30px 0; }
  .bg_color_menu .topo_desafio .area_logo {
    padding: 30px 0; }
    .bg_color_menu .topo_desafio .area_logo .logo_desafio {
      display: inline-block; }

/*Topo*/
/*PushMenu*/
.navbar-default {
  background-color: #FE6B1E;
  border-color: #fff;
  border-radius: 25px;
  height: 44px;
  width: 45px; }

.navbar-toggle {
  float: left !important; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

#menu-menu-principal {
  text-align: center; }
  #menu-menu-principal li {
    display: inline-block;
    font-size: 15px; }
  #menu-menu-principal .menu-item a {
    color: #a0a0a0;
    text-decoration: none; }
    #menu-menu-principal .menu-item a:hover {
      color: #FE6B1E; }

@media (max-width: 767px) {
  .pushmenu {
    position: relative;
    z-index: 57;
    margin-bottom: 50px;
    top: -25px; }

  .navbar-toggle {
    position: relative;
    top: -85px; }

  #menu-menu-principal li {
    display: block;
    text-align: right; }

  .menu-item a {
    position: relative;
    line-height: 2;
    top: 6px;
    padding: 0 10px; }

  .destaque-principal {
    position: relative;
    top: -116px;
    z-index: 9999; } }
/*PushMenu*/
/*Destaques - Prim├írio e Secund├írio*/
.destaque-principal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 30px; }
  .destaque-principal .post_format_padrao a {
    text-decoration: none; }
  .destaque-principal .post_format_padrao hr {
    border: 1px solid #FE6B1E;
    width: 20%; }
  .destaque-principal .post_format_padrao img {
    display: block;
    height: auto;
    margin: 20px 0 40px 0;
    width: 100%; }

.destaque-secundario {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 15px;
  margin-top: 30px;
  width: 49%; }
  .destaque-secundario .post_format_padrao {
    /* 
    // ├ë melhor usar um crop aqui
    .miniaturas{
    	max-height: 250px;
    	overflow: hidden;
    }
    */ }
    .destaque-secundario .post_format_padrao h3 {
      font-size: 30px; }
    .destaque-secundario .post_format_padrao a {
      text-decoration: none; }
  .destaque-secundario img {
    display: block;
    height: auto;
    margin: 20px 0 40px 0;
    width: 100%; }

.separador {
  margin-right: 19px; }

@media (max-width: 991px) {
  .destaque-secundario {
    width: 100%;
    position: relative;
    top: -100px; } }

/*# sourceMappingURL=style.css.map */
