@charset "UTF-8";
/*Desafio WordPress Webedia - CSS*/
/*Fontes do projeto*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/*Vari├íveis*/
/*Vari├íveis*/
/*Reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, ul, li, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline; }

article, aside, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  color: #FE6B1E;
  font-size: 40px;
  font-weight: 700; }

p {
  line-height: 1.5; }

/*Reset*/
/*In├¡cio Topo*/
.bg_color_desafio {
  background-color: #F0F0F0;
  padding: 30px 0;
  font-family: "Roboto", sans-serif; }

.bg_color {
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif; }

.topo_desafio {
  padding: 30px 0; }
  .topo_desafio .area_logo {
    padding: 30px 0; }

/*PushMenu*/
.navbar-default {
  background-color: #FE6B1E;
  border-color: #fff;
  border-radius: 25px;
  height: 44px;
  width: 45px; }

.navbar-toggle {
  float: left !important; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

#menu-menu-principal {
  text-align: center; }
  #menu-menu-principal li {
    display: inline-block;
    font-size: 15px;
    margin: 0 18px 0 0; }
  #menu-menu-principal .menu-item a {
    color: #a0a0a0;
    text-decoration: none; }
    #menu-menu-principal .menu-item a:hover {
      color: #FE6B1E; }

/*PushMenu*/
/*Fim Topo*/
/*In├¡cio lista Postagem*/
.box_post_padrao {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  border: 5px solid #f0f0f0; }
  .box_post_padrao .post_format_padrao a {
    color: #FE6B1E;
    text-decoration: none; }
  .box_post_padrao .post_format_padrao hr {
    border: 1px solid #FE6B1E;
    width: 20%; }
  .box_post_padrao .post_format_padrao img {
    display: block;
    height: auto;
    margin: 20px 0 30px 0;
    width: 100%; }
  .box_post_padrao .paginacao a {
    text-decoration: none; }
    .box_post_padrao .paginacao a:hover {
      color: #FE6B1E; }

.separador_destaque {
  margin-top: 30px; }

/*Fim lista Postagem*/
/*In├¡cio da lista de postagens secund├írias*/
.destaque-secundario {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;
  border: 5px solid #f0f0f0; }
  .destaque-secundario .formato_post_secundario {
    /* ├ë melhor usar um crop aqui*/ }
    .destaque-secundario .formato_post_secundario h3 {
      font-size: 30px;
      min-height: 60px; }
    .destaque-secundario .formato_post_secundario a {
      color: #FE6B1E;
      text-decoration: none; }
    .destaque-secundario .formato_post_secundario .miniaturas {
      max-height: 250px;
      overflow: hidden; }
  .destaque-secundario img {
    display: block;
    height: auto;
    margin: 20px 0 40px 0;
    width: 100%; }

/*Fim da lista de postagens secund├írias*/
/*In├¡cio Regras do Single Post*/
.single_post .paginacao_single a {
  text-decoration: none; }
  .single_post .paginacao_single a:hover {
    color: #FE6B1E; }

.comentarios #comments {
  margin: 20px 0; }
.comentarios #comment, .comentarios #author, .comentarios #email, .comentarios #url {
  width: 100%; }
.comentarios .comment-notes {
  color: #a93a00; }
.comentarios .form-submit {
  margin-top: 20px; }
.comentarios .logged-in-as a {
  text-decoration: none; }
  .comentarios .logged-in-as a:hover {
    color: #FE6B1E; }

/*Fim Regras do Single Post*/
/*In├¡cio Regras do archive*/
.titulo_arquivo {
  color: #a93a00; }

/*Fim Regras do archive*/
/*In├¡nio detalhes da p├ígina 404*/
.topicos_recentes ul {
  margin-top: 20px;
  list-style-type: disc;
  margin-left: 50px; }
.topicos_recentes a {
  text-decoration: none; }
  .topicos_recentes a:hover {
    color: #FE6B1E; }

/*Fim detalhes da p├ígina 404*/
/*RSS FEED*/
.rss_feed {
  background-color: #F0F0F0; }
  .rss_feed a {
    text-decoration: none; }
    .rss_feed a:hover {
      color: #FE6B1E; }

/*RSS FEED*/
/*Mobile*/
@media (max-width: 767px) {
  .box_post_padrao {
    position: relative;
    top: -120px;
    border: none; }

  .separador_destaque {
    margin-top: 0; }

  .pushmenu {
    position: relative;
    z-index: 57;
    margin-bottom: 50px;
    top: -25px; }

  .navbar-toggle {
    position: relative;
    top: -85px; }

  #menu-menu-principal li {
    display: block;
    text-align: right; }

  .menu-item a {
    position: relative;
    line-height: 2;
    top: 6px;
    padding: 0 10px; }

  .destaque-principal {
    position: relative;
    top: -116px;
    z-index: 9999; }

  .destaque-secundario {
    border: none;
    position: relative;
    top: -120px; } }
@media (max-width: 991px) {
  .destaque-secundario {
    width: 100%; }
    .destaque-secundario .formato_post_secundario h3 {
      min-height: inherit; }

  .separador_destaque {
    margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
