/*Desafio WordPress Webedia - CSS*/
@charset "UTF-8";
/*Fontes do projeto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*Variáveis*/
$bg_color: #F0F0F0; 
$color_padrao: #FE6B1E;
$fonte_padrao: 'Roboto', sans-serif;
/*Variáveis*/
/*Reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, ul, li, aside, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: $fonte_padrao;
	vertical-align: baseline;
}
article, aside, footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6{
	color: $color_padrao;
	font-size: 40px;
	font-weight: 700;
}
p{
	line-height: 1.5;
}
/*Reset*/
/*Início Topo*/
.bg_color_desafio{
	background-color: $bg_color;
	padding: 30px 0;
	font-family: $fonte_padrao;
}
.topo_desafio{
	padding: 30px 0;	
	.area_logo{
		padding: 30px 0;
	}
} 
/*PushMenu*/
.navbar-default{
	background-color: $color_padrao;
	border-color: #fff; 
  border-radius: 25px;
  height: 44px;
  width: 45px;
}
.navbar-toggle{
	float: left !important;
	.icon-bar{
		background-color: #fff;
	}
}
#menu-menu-principal{
	text-align: center;
	li{
		display: inline-block;
		font-size: 15px;
		margin: 0 18px 0 0;
	}
	.menu-item{
		a{
			color: #a0a0a0;
			text-decoration: none;
			&:hover{
			color: $color_padrao;
			}
		}
	}
}
/*PushMenu*/
/*Fim Topo*/

/*Início lista Postagem*/
.box_post_padrao{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 30px;
	.post_format_padrao{
		a{
			color: $color_padrao; 
			text-decoration: none;
		}
		hr{
			border: 1px solid $color_padrao;
			width: 20%;
		}
		img{
			display: block;
			height: auto;
 			margin: 20px 0 30px 0;
    	width: 100%;
		}
	}
	.paginacao{
		a{
			color: $color_padrao; 
			text-decoration: none;
		}
	}
}
.separador_destaque{
	margin-bottom: 30px;
}
/*Fim lista Postagem*/

/*Início da lista de postagens secundárias*/
.destaque-secundario{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 15px;
	margin: 0 9px;
  width: 48%;
	.formato_post_secundario{
		h3{
			font-size: 30px;
			min-height: 60px;
		}
		a{
			color: $color_padrao;
			text-decoration: none;
		}
		/* É melhor usar um crop aqui
		.miniaturas{
			max-height: 250px;
			overflow: hidden;
		}
		*/
	}
	img{
			display: block;
			height: auto;
 			margin: 20px 0 40px 0;
    	width: 100%;
		}
}
/*Fim da lista de postagens secundárias*/

/*Início Regras do Single Post*/
.single_post{
	.paginacao_single{
		a{
			text-decoration: none;
			&:hover{
				color: $color_padrao;
			}
		}
	}
}
.comentarios{
	#comments{
		margin: 20px 0;
	}
	#comment, #author, #email, #url{
		width: 100%;
	}
	.comment-notes{
		color:#a93a00; 
	}
	.form-submit{
		margin-top: 20px;
	}

	.logged-in-as{
		a{
			text-decoration: none;
			&:hover{
				color: $color_padrao;
			}
		}
	}
}
/*Fim Regras do Single Post*/

/*Início Regras do archive*/
.titulo_arquivo{
	color: #a93a00;
}
/*Fim Regras do archive*/

/*Inínio detalhes da página 404*/
.topicos_recentes{
	ul{
		margin-top: 20px;
		list-style-type: disc;
		margin-left: 50px; 
	}
	a{
		text-decoration: none;
		&:hover{
			color: $color_padrao;
		}
	}
}
/*Fim detalhes da página 404*/

/*Mobile*/
@media (max-width: 767px){
	.box_post_padrao{
		position: relative;
		top: -120px;
	}

	.pushmenu{
		position: relative;
    z-index: 57;
    margin-bottom: 50px;
    top: -25px;
	}
	.navbar-toggle{
		position: relative;
	  top: -85px;
	}

	#menu-menu-principal li{
  display: block;
  text-align: right;
	}
	.menu-item a{
    position: relative;
    line-height: 2;
    top: 6px;
    padding: 0 10px;
	}
	.destaque-principal{
		position: relative;
	  top: -116px;
	  z-index: 9999;
	}
}
@media (max-width: 991px){
	.destaque-secundario{
		width: 100%;
		margin: 0 0 30px 0;
		.formato_post_secundario{
			h3{
				min-height: inherit;
			}
		}
	}
}